<footer class="footer" style="background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/images/modern-7.jpg);background-position: center center;background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="about">
          <p>I'm a professional Web Developer. Our Main Goal to help & Satisficed the Local & Global Clients by web development solutions</p>
        </div>
        <h3 class="follow-me-heading" style="color: #fff;font-size: var(--font-md);">Follow Me</h3>
        <div class="social-icons">
          <li *ngFor="let icon of icons"><i class="{{icon.name}}" [style.color]="icon.color"></i></li>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6 mt-4">
        <div class="links">
          <h3>Useful Links</h3>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6 mt-4">
        <div class="service">
          <h3>Our Services</h3>
          <ul>
            <li>Ui/Ux Designer</li>
            <li>Web Designer</li>
            <li>App Designer</li>
            <li>Web Development</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mt-2">
        <div class="contact">
          <h3>Contact Us</h3>
          <p>Venkatadri nagar colony Humayun Nagar Hyderabad 500028</p>
          <p>Email: danishjmail000&#64;gmail.com</p>
          <p>Phone: +91 9065106006</p>
        </div>
      </div>
    </div>
  </div>
</footer>
